* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.main {
    background: white;
    height: 70vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main hr {
    position: relative;
    width: 100%;
}